/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

// Table selection
.table-selection {
  table {
    tbody {
      tr {
        cursor: pointer;
        user-select: none;
      }
    }
  }
}

// Dashboard
.dashboard-section {
  border-radius: 6px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
